/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}

/* HLAVICKA */
.hlavicka {
	color: white;
	background-image: url(images/island-hlavicka.jpg);
	background-position: top center;
	background-size: cover;    
	text-align: center;
	height: auto;
	width: 100%;    
}

.titulek {
	font-family: 'Raleway', serif;
	font-size: 45px;
	margin: 0
}

.perex {
    margin: 0;
    padding: 10px 20px;
}

.perex::after {
    content: "______";
    display: block;
    transform: translate(0, 50%);
    font-weight: bold;
}

/* MENU */
.menu {
    padding: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

.menu li {
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.menu a {
    font-family: 'Raleway', serif; 
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(160, 160, 160);
		padding: 8px;
		text-align: center
}

/* OBSAH */
.obsah {
    margin: 0;  
}

.obsah .popisek a {
	font-size: 10px;
	font-weight: 200;
	padding: 8px 0;
	text-transform: capitalize;
	text-decoration: underline;
	color: rgb(160, 160, 160);
}

p {
	margin: 0;
	padding-bottom: 16px;
}

.popis {
	padding 30px 20px
}

.popis h2 {
 font-family: 'Raleway', serif;
 margin: 0;
 padding: 10px 30px;
}

img {
	width: 100%;
	display: block;
}

.obrazek .popisek {
	font-size: 10px;
	font-weight: 200;
	padding: 8px 0;
	text-transform: capitalize;
	text-decoration: underline;
	color: rgb(160, 160, 160);
}

/* FOTOGALERIE */
.galerie {
    margin: 0;
}

.fotogalerie h2 {
    margin: 0;
    padding: 30px 20px 40px;
}

.foto {
width: 100%;
height: auto;
}

.foto .popisek { 
	font-family: 'Raleway', serif; 
	font-size: 12px;
	font-weight: bold;
	color: rgb(160, 160, 160);
	padding: 8px 12px;
	margin: 0;
}

.foto span {
	font-weight: normal;
	color: rgb(160, 160, 160);
	font-size: 12px;
}

.foto .popisek a {
	font-size: 12px;
	color: rgb(160, 160, 160);
	padding: 8px;
}

/* PATICKA */
.paticka {
	font-size: 14px;	
	font-weight: 400;
	color: rgb(160, 160, 160);
	padding: 30px 20px 10px;
}

.paticka a {
	font-size: 12px;
	color: rgb(160, 160, 160);
	padding: 8px;
	font-weight: 400;
}

@media (min-width: 500px) {
    .menu {
        display: flex;
    }
		
    .menu a {
        font-size: 10px;
        font-weight: 400;
        padding: 4px;  
		}    
		
    .menu li {
        width: calc(100% / 4);
        border-style: solid;
        border-color: rgb(240, 240, 240);
        border-width: 1px 0.5px;
        padding: 3px;
        margin: 0;
    }

		.menu li: :first-child {
			border-left: 0;
		}

		.menu li: :last-child {
			border-right: 0;
		}

		.obrazek {
			position: relative
		}

		.obrazek .popisek {
			position: relative;
			color: white;
				}

		.foto {
			width: 50%;
			height: 0;
			box-sizing: content-box;
			padding-bottom: 28%;
			overflow: hidden;
			position: absolute;
			right: 20px;
			bottom: 10px;
		}

		.foto .popisek {
			color: white;
			font-size: 12px;
		}

		.foto .popisek a {
			color: white;
			font-size: 12px;
		}

    .galerie {
        display: flex;
        flex-wrap: wrap;
		}
		
		.foto:hover .popisek {
			transform: translate (0, -100%);
			transition: 0.5s;
		}
		.foto:hover img {
			transform: scale (1.1);
			transition: 0.5s;
		}

@media (min-width: 1000px) {
    .menu {
        display: block;
        float: left;
        padding: 30px 50px 160px 20px;
    }
		.menu a {
			font-size: 10px;
			padding: 4px;
	}
    .menu li {
        width: 100%;
        text-align: left;
        border: 0;
				border-bottom: 1px solid;
				border bottom color: rgb(240, 240, 240);
        padding: 8px;
    }    
    .paticka {
        padding: 0;
        margin: auto;
				width: 960px;
				display: block;
    }
}